/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.background {
  background-color: #406e8e ;
}

/* html {
  background-color: #406e8e;
} */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


@media (max-width: 1919px) {
  body {
    overflow: visible;
  }
}